{% extends "wiki_admin/base.html" %}
{% load pretty_date %}

{% block bodyid %}settings{% endblock %}

{# TODO: Insert website name in here #}
{% block title %}Settings{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ wiki_admin_media_path}}/js/jquery.simpletip-1.3.1.pack.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#special-actions-helper').simpletip({ 
                content: 'Special actions include file attachments and changing page permissions.',
                fixed: false,
            });
        });
    </script>
{% endblock %}

{% block nav-settings %}<li class="selected">Settings</li>{% endblock %}

{% block content %}
<form action="" method="post" name="settings-form" id="settings-form" class="settings-form">
    
<div class="section-title">
    <h2>General Site</h2>
    <p>The name and tagline will be shown on all wiki pages.</p>
</div>

<div class="section">
        <div class="field">
            {{ form.name.errors }}
            <label for="id_name">Wiki Name: <small>(appears as big text in wiki headers)</small></label> 
            {{ form.name }}
        </div> 
        <div class="field">
            {{ form.tagline.errors }}
            <label for="id_tagline">Tagline: <small>(appears below the wiki name)</small></label> 
            {{ form.tagline }}
        </div> 
        <div class="field">
            {{ form.front_page.errors }}
            <label for="id_front_page">Front Page:
                <small>(the wiki page that is displayed for your <a href="">root url</a>)</small>
            </label>
            {{ form.front_page }}
        </div> 
        
</div>

<div class="section-title">
    <h2>Default Permissions</h2>
    <p>Control who can view and edit pages as well as access special features.
    <span class="highlight">These permissions (excluding special) can be overridden on each
        page.</span></p>
</div>

<div class="section">
        <div class="field">
            {{ form.default_view.errors }}
            <label for="id_default_read">Who can <strong>read pages</strong> on
            this wiki?</label> 
            {{ form.default_view }}
        </div> 
        
        <div class="field">
            {{ form.default_edit.errors }}
            <label for="id_default_edit">Who can <strong>edit pages</strong> on 
            this wiki?</label> 
            {{ form.default_edit }}
        </div> 
        
        <div class="field">
            {{ form.default_special.errors }}
            <label for="id_default_special">Who can use <strong>special
            actions</strong> on pages? <small id="special-actions-helper">
            (what are special actions?)</small></label> 
            {{ form.default_special }}
        </div> 
        
        <div class="actions">
            <button type="submit" name="submit" value="Save">Update Settings &raquo;</button>
        </div>
</div>

{# form.as_p #}

</form>
{% endblock %}

