{% block userbox %}
{% if user.is_authenticated %}
<div id="userbox">
    <div class="wrapper">
        <ul>
            <li id="user" class="first"><a href="{% url user-profile user.username %}">{{ user.username }}</a></li>
            {# There's gotta be a better way of doing this... #}
            {% ifequal wiki None %}
            <!--<li><a href="">Dashboard</a></li>-->
            {% else %}
            {% if admin_perms.can_admin %}
            <li><a href="{% url wiki-admin-home %}">Wiki Admin</a></li>
            {% endif %}
            {% endifequal %}
            <li><a href="{% url auth_logout %}">Logout</a></li>
        </ul>
    </div>
</div>
{% endif %}
{% endblock %}
