# nginx config file for suppletext.com (dev)

#We can't do redirect from www to without the www while keeping the port
#number. But that's fine since this is only the dev server.
server {
    listen 80;
    server_name www.suppletext.com;
    rewrite ^/(.*) http://suppletext.com/$1 permanent;
}

# We need to duplicate this for wildcard subdomains.
server {
    listen 80;
    server_name *.suppletext.com;
    access_log /home/suppletext/prod/logs/access.log;
    error_log /home/suppletext/prod/logs/error.log;
    
    location /static {
        #autoindex on;
        #index index.html;
        alias /home/suppletext/prod/suppletext/static/wiki;
        #expires 1d;
    }
    
    location / {
        include /etc/nginx/fastcgi_params;
        fastcgi_pass 127.0.0.1:8081;
    }
}

# For base site.
server {
    listen 8000;
    server_name suppletext.com;
    access_log /home/suppletext/prod/logs/access.log;
    error_log /home/suppletext/prod/logs/error.log;

    location /static {
        #autoindex on;
        #index index.html;
        root /home/suppletext/prod/suppletext/;
        #expires 1d;
    }

    location / {
        include /etc/nginx/fastcgi_params;
        fastcgi_pass 127.0.0.1:8084;
    }
}
